/*//////////////////////////////////////////////////////////////////////////////
//                                                                               
//              ,,                                                               
//      db     *MM                                                               
//     ;MM:     MM                                                               
//    ,V^MM.    MM,dMMb.`7Mb,od8 ,pW"Wq.`7M'    ,A    `MF'M"""MMV .gP"Ya `7Mb,od8
//   ,M  `MM    MM    `Mb MM' "'6W'   `Wb VA   ,VAA   ,V  '  AMV ,M'   Yb  MM' "'
//   AbmmmqMA   MM     M8 MM    8M     M8  VA ,V  VA ,V     AMV  8M""""""  MM    
//  A'     VML  MM.   ,M9 MM    YA.   ,A9   VVV    VVV     AMV  ,YM.    ,  MM    
//.AMA.   .AMMA.P^YbmdP'.JMML.   `Ybmd9'     W      W     AMMmmmM `Mbmmd'.JMML.  
//////////////////////////////////////////////////////////////////////////////*/


body {
    background-color: honeydew;
}

h3 {
	color:red;
}

div.header a {
    display: inline;
    margin-right : 5px;
}

div.thread a{
    display: block;
}

a:hover {
    background-color: cyan;
}

a:active {
    background-color: gold;
}

.ab_ngsuretai{
	text-decoration: none;
	color:red;
	font-size: 5pt;
}

.ab_order:after{
	content:": ";
}

.ab_suretate:before{
	content:"【";
}

.ab_suretate:after{
	content:"】";
}

.ab_suretate{
	display:none;
}

.ab_resamount:before{
	content:" (";
}

.ab_resamount:after{
	content:")";
}